#
#�����̃t�@�C���� makefile ���� include ����܂��B
#  �E���̃t�@�C�����T���v���v���O�����̂���f�B���N�g���ɃR�s�[���Ďg����
#    ���������B
#  �E TARGET �ɂ̓T���v���v���O�����̖��O���w�肵�Ă��������B
#    �i���[�h���W���[���̃v���C�}���l�[���ɂȂ�܂��B�j
#  �E OBJS �ɂ̓T���v���v���O�����̃��[�h���W���[������邽�߂� dependency
#    ���w�肵�Ă��������B
#
TARGET=	smpsnd5

OBJS=	$(SEGASMP)/lib/strt1_g.o\
		$(SEGASMP)/lib/strt2_g.o\
		$(TARGET).o

